<div class="py-5 bg-light">
  <div class="container">
    <h2 class="main-h2 mb-4">ログイン</h2>
    <div class="row main-row">
        <div class="offset-md-1 col-md-10">
          <p class="desc-row">会員登録されてない方は<%= link_to "新規会員登録", users_new_path %>をご利用ください。</p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= devise_error_messages %>

            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th scope="row">
                    <%= f.label :email %><br />
                  </th>
                  <td>
                    <%= f.email_field :email,autofocus: true, autocomplete: "email", class: "signup-form" %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <%= f.label :password %><br />
                  </th>
                  <td>
                    <%= f.password_field :password, autocomplete: "current-password", class: "signup-form" %>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="login-btn">
              <%= f.submit "ログインする", class: "btn" %>
            </div>
          <% end -%>

        </div>
    </div>
  </div>
</div>
