<div class="events-index-wrapper main">
  <div class="container">
    <h2 class="main_h2">直近のイベント</h2>

    <% @events.each do |event| %>
      <div class="index-event-list">
        <div class="index-event-schedule-area">
          <p class="year">
            <%= event.start_date.year %>
          </p>
          <p class="date">
            <%= "#{event.start_date.mon}/#{event.start_date.day}" %>
          </p>
          <p class="time">
            <%= "#{event.start_date.strftime("(#{wd[event.start_date.wday]})")} #{event.start_time.hour}:#{event.start_time.strftime("%d")}〜" %>
          </p>
        </div>
        <div class="index-event-detail-area">
          <div class="upcoming-event-inner">
            <%= image_tag event.image.url, class: 'index-event-image', alt: 'イベント画像'%>
            <p class="index-event-title">
              <%= link_to event.title, "/events/#{event.id}" %>
            </p>
            <p class="fa fa-map-marker text-muted index-event-adress pb-0">
              <%= event.address %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
