<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">どこいく？</h1>
    <p class="lead text-muted">あなたの街のローカルなイベントをもっと盛り上げていこう！</p>
    <p>
      <% unless user_signed_in? %>
        <%= link_to "イベントを作成する", new_user_session_path, class: "btn btn-primary my-2" %>
      <% end %>
    </p>
  </div>
</section>

<div class="main">
  <div class="container">
    <h2 class="main_h2">新着イベント</h2>
    <div class="row">
      <% @events.first(6).each do |event| %>
        <div class="col-md-4 new_event_item ">
          <div class="card">
            <%= link_to (image_tag event.image.url, class: 'card-img-top new_event_image', alt: 'イベント画像'), event_path(id: event.id) %>
            <div class="card-body">
              <h5 class="new_event_title">
                <%= event.title %>
              </h5>
              <p class="new_event_date">
                <%= "#{event.start_date.strftime("%Y/%-m/ %d")}" %>
              </p>
              <p class="fa fa-map-marker new_event_address">
                <%= event.address%>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
