
<main role="main">

  <section class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="jumbotron-heading">どこいく？</h1>
      <p class="lead text-muted">あなたの街のローカルなイベントをもっと盛り上げていこう！</p>
      <p>
        <a href="#" class="btn btn-primary my-2">イベントを作成する</a>
      </p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <h2 class="main-h2 mb-4">新着イベント</h2>
      <div class="row">

        <% @events.first(6).each do |event| %>
          <div class="col-md-4">
            <div class="card mb-4">
              <%= link_to (image_tag event.image.url, class: 'card-img-top', alt: 'イベント画像'), "/events/#{event.id}" %>
              <div class="card-body">
                <h5 class="event-title mb-0">
                  <%= event.title %>
                </h5>
                <p class="event-day text-muted mb-0">
                  <%= event.start_date %>
                </p>
                <p class="fa fa-map-marker text-muted event-adress">
                  <%= event.address%>
                </p>
              </div>
            </div>
          </div>
        <% end %>


        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag 'kisetsukan_nai_man.png', class: 'card-img-top', alt: 'イベント画像'%>
            <div class="card-body">
              <h5 class="event-title border-bottom border-dark mb-0">イベントA</h5>
              <p class="event-day text-muted mb-0">2020/12/31</p>
              <p class="fa fa-map-marker text-muted event-adress">岩手県一関市~~~</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag 'kisetsukan_nai_man.png', class: 'card-img-top', alt: 'イベント画像'%>
            <div class="card-body">
              <h5 class="event-title border-bottom border-dark mb-0">イベントA</h5>
              <p class="event-day text-muted mb-0">2020/12/31</p>
              <p class="fa fa-map-marker text-muted event-adress">岩手県一関市~~~</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 ">
            <%= image_tag 'kisetsukan_nai_man.png', class: 'card-img-top', alt: 'イベント画像'%>
            <div class="card-body">
              <h5 class="event-title border-bottom border-dark mb-0">イベントA</h5>
              <p class="event-day text-muted mb-0">2020/12/31</p>
              <p class="fa fa-map-marker text-muted event-adress">岩手県一関市~~~</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 ">
            <%= image_tag 'kisetsukan_nai_man.png', class: 'card-img-top', alt: 'イベント画像'%>
            <div class="card-body">
              <h5 class="event-title border-bottom border-dark mb-0">イベントA</h5>
              <p class="event-day text-muted mb-0">2020/12/31</p>
              <p class="fa fa-map-marker text-muted event-adress">岩手県一関市~~~</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 ">
            <%= image_tag 'kisetsukan_nai_man.png', class: 'card-img-top', alt: 'イベント画像'%>
            <div class="card-body">
              <h5 class="event-title border-bottom border-dark mb-0">イベントA</h5>
              <p class="event-day text-muted mb-0">2020/12/31</p>
              <p class="fa fa-map-marker text-muted event-adress">岩手県一関市~~~</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
