<div class="py-5 bg-light">
  <div class="container">
    <h2 class="main-h2 mb-4">ログイン・新規登録</h2>
    <div class="main-row">
      <p class="desc-row">
        会員の方は、登録時に利用した Twitterのボタンからログインすることができます。<br/>
        また、登録されているメールアドレスからもログインすることができます。<br/>
        会員登録されてない方は、下記 Twitter ボタンからお持ちのアカウントで新規登録を行ってください。<br/>
        Twitterのアカウントをお持ちでない方はこちら<%= link_to "新規会員登録", new_user_registration_path %>をご利用ください。</p>
      <div class="row pt-2">
        <div class="col-md-6">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= devise_error_messages %>

          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">
                  <%= f.label :email %><br />
                </th>
                <td>
                  <%= f.email_field :email,autofocus: true, autocomplete: "email", class: "form-control" %>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <%= f.label :password %><br />
                </th>
                <td>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="login-btn">
            <%= f.submit "ログインする", class: "btn" %>
          </div>
          <% end -%>

        </div>

        <div class="offset-md-1 col-md-4 border mb-5">
          <div class="login-sns-area mt-3 text-center">
            <h6>お持ちのアカウントで登録/ログイン</h6>
            <div class="twitter-area">
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to  omniauth_authorize_path(resource_name, provider) do %>
                    <div class="login-btn">
                      <button class="btn btn-sm mt-2 btn-primary fa fa-twitter" type="submit"> Twitterで登録/ログイン</button>
                    </div>
                  <% end -%>
                <% end -%>
              <% end -%>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
