<!DOCTYPE html>
<html>
  <head>
    <title>Dokoiku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href=/>どこいく？</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "直近のイベント", events_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "カレンダー", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン|新規登録", sessions_new_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "イベント作成", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "イベント編集", "#", class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right mt-3">
          <button type="button" class="btn btn-secondary py-auto">お問い合わせ</button>
        </p>
        <p class="copyright pt-5">&copy; 2018 Dokoiku, Inc. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
